<!DOCTYPE html>
<html>
    <head>
        <title>Minimal Mobile - C2JS Theme</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Example Style -->
        <style type="text/css">
            body {
                background-color: #656565;
                margin: 0;
                padding: 0px;
                overflow: hidden;
            }

            [c2js] {
                position: relative;

                width: 50vw;
                height: 50vh;
            }
        </style>

        <!-- jQuery -->        
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>	

        <!-- C2JS -->
        <link rel="stylesheet" href="../../c2js/c2.css" type="text/css" />
        <script type="text/javascript" src="../../c2js/c2.js"></script>

        <!-- C2 Theme -->
        <link rel="stylesheet" href="mobile.css" type="text/css" />
        <script type="text/javascript" src="mobile.js"></script>
    </head>
    <body>

        <div c2js>
            <video c2-custom='menu' c2-hide-mouse='1000' src="../../sample.mp4"></video>
            <div class="c2-container c2-table actived">
                <div class="c2-top c2-row">
                    <button c2-blank></button>
                    <button c2-volume='+10%' c2-shortcuts='arrowup'></button>
                    <button c2-custom='menu' c2-shortcuts='tab'></button>
                </div>
                <div class="c2-middle c2-row">
                    <button c2-move="-5" c2-shortcuts='arrowleft'></button>
                    <button c2-play c2-shortcuts='space'></button>
                    <button c2-move="+5" c2-shortcuts='arrowright'></button>
                </div>
                <div class="c2-bottom c2-row">
                    <button c2-mute c2-shortcuts='m'></button>
                    <button c2-volume='-10%' c2-shortcuts='arrowdown'></button>
                    <button c2-fullscreen c2-shortcuts='f enter'></button>
                </div>
                <div class="c2-footer c2-row">
                    <input c2-time-seek type="range" max="100" step="0.1" value='0'>
                </div>
            </div>
        </div>
        
        
    </body>
</html>
